Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PRH">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PA01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PA01A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PA01AI01" type="xs:integer" />
                          <xs:element name="PA01AR01" type="xs:dateTime" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PA01B">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PA01BQ01" type="xs:string" />
                          <xs:element name="PA01BD01" type="xs:integer" />
                          <xs:element name="PA01BI01" type="xs:string" />
                          <xs:element name="PA01BI02" type="xs:string" />
                          <xs:element name="PA01BD02" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PA01D">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PA01DQ01" />
                          <xs:element name="PA01DQ02" />
                          <xs:element name="PA01DR01" />
                          <xs:element name="PA01DR02" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PA01E">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PA01ES01" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PIM">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PB01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PB01A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PB01AD01" type="xs:integer" />
                          <xs:element name="PB01AR01" type="xs:date" />
                          <xs:element name="PB01AD02" type="xs:integer" />
                          <xs:element name="PB01AD03" type="xs:integer" />
                          <xs:element name="PB01AD04" type="xs:integer" />
                          <xs:element name="PB01AQ01" type="xs:string" />
                          <xs:element name="PB01AQ02" type="xs:string" />
                          <xs:element name="PB01AD05" type="xs:string" />
                          <xs:element name="PB01AQ03" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PB01B">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PB01BS01" type="xs:integer" />
                          <xs:element maxOccurs="unbounded" name="PB01BH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PB01BQ01" type="xs:string" />
                                <xs:element name="PB01BR01" type="xs:date" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PMM">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PB02">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PB020D01" type="xs:integer" />
                    <xs:element name="PB020Q01" type="xs:string" />
                    <xs:element name="PB020D02" type="xs:integer" />
                    <xs:element name="PB020I01" type="xs:string" />
                    <xs:element name="PB020Q02" type="xs:string" />
                    <xs:element name="PB020Q03" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PRM">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PB03">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PB030D01" type="xs:integer" />
                    <xs:element name="PB030Q01" type="xs:string" />
                    <xs:element name="PB030Q02" type="xs:string" />
                    <xs:element name="PB030R01" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="POM">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PB04">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PB040D01" type="xs:integer" />
                    <xs:element name="PB040Q01" type="xs:string" />
                    <xs:element name="PB040D02" type="xs:integer" />
                    <xs:element name="PB040D03" type="xs:string" />
                    <xs:element name="PB040Q02" type="xs:string" />
                    <xs:element name="PB040Q03" type="xs:string" />
                    <xs:element name="PB040D04" type="xs:integer" />
                    <xs:element name="PB040D05" type="xs:string" />
                    <xs:element name="PB040D06" type="xs:integer" />
                    <xs:element name="PB040R01" type="xs:integer" />
                    <xs:element name="PB040R02" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PSM">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PC01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PC010Q01" type="xs:integer" />
                    <xs:element name="PC010Q02" type="xs:integer" />
                    <xs:element name="PC010S01" type="xs:integer" />
                    <xs:element maxOccurs="unbounded" name="PC010D01" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PCO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PC02">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PC02A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02AS01" type="xs:integer" />
                          <xs:element name="PC02AS02" type="xs:integer" />
                          <xs:element maxOccurs="unbounded" name="PC02AH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PC02AD01" type="xs:integer" />
                                <xs:element name="PC02AD02" type="xs:integer" />
                                <xs:element name="PC02AS03" type="xs:integer" />
                                <xs:element name="PC02AR01" type="xs:gYearMonth" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02B">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02BS01" type="xs:integer" />
                          <xs:element name="PC02BJ01" type="xs:integer" />
                          <xs:element name="PC02BS02" type="xs:integer" />
                          <xs:element maxOccurs="unbounded" name="PC02BH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PC02BD01" type="xs:integer" />
                                <xs:element name="PC02BS03" type="xs:integer" />
                                <xs:element name="PC02BJ02" type="xs:integer" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02C">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02CS01" type="xs:integer" />
                          <xs:element name="PC02CJ01" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02D">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02DS01" type="xs:integer" />
                          <xs:element maxOccurs="unbounded" name="PC02DH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PC02DD01" type="xs:integer" />
                                <xs:element name="PC02DS02" type="xs:integer" />
                                <xs:element name="PC02DS03" type="xs:integer" />
                                <xs:element name="PC02DJ01" type="xs:integer" />
                                <xs:element name="PC02DS04" type="xs:integer" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02E">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02ES01" type="xs:integer" />
                          <xs:element name="PC02ES02" type="xs:integer" />
                          <xs:element name="PC02EJ01" type="xs:integer" />
                          <xs:element name="PC02EJ02" type="xs:integer" />
                          <xs:element name="PC02EJ03" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02F">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02FS01" type="xs:integer" />
                          <xs:element name="PC02FS02" type="xs:integer" />
                          <xs:element name="PC02FJ01" type="xs:integer" />
                          <xs:element name="PC02FJ02" type="xs:integer" />
                          <xs:element name="PC02FJ03" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02G">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02GS01" type="xs:integer" />
                          <xs:element name="PC02GS02" type="xs:integer" />
                          <xs:element name="PC02GJ01" type="xs:integer" />
                          <xs:element name="PC02GJ02" type="xs:integer" />
                          <xs:element name="PC02GJ03" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02H">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02HS01" type="xs:integer" />
                          <xs:element name="PC02HS02" type="xs:integer" />
                          <xs:element name="PC02HJ01" type="xs:integer" />
                          <xs:element name="PC02HJ02" type="xs:integer" />
                          <xs:element name="PC02HJ03" type="xs:integer" />
                          <xs:element name="PC02HJ04" type="xs:integer" />
                          <xs:element name="PC02HJ05" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02I">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02IS01" type="xs:integer" />
                          <xs:element name="PC02IS02" type="xs:integer" />
                          <xs:element name="PC02IJ01" type="xs:integer" />
                          <xs:element name="PC02IJ02" type="xs:integer" />
                          <xs:element name="PC02IJ03" type="xs:integer" />
                          <xs:element name="PC02IJ04" type="xs:integer" />
                          <xs:element name="PC02IJ05" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC02K">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC02KS01" type="xs:integer" />
                          <xs:element maxOccurs="unbounded" name="PC02KH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PC02KD01" type="xs:integer" />
                                <xs:element name="PC02KD02" type="xs:integer" />
                                <xs:element name="PC02KS02" type="xs:integer" />
                                <xs:element name="PC02KJ01" type="xs:integer" />
                                <xs:element name="PC02KJ02" type="xs:integer" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PNO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PC03">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PC030S01" type="xs:integer" />
                    <xs:element name="PC030H">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC030D01" type="xs:integer" />
                          <xs:element name="PC030S02" type="xs:integer" />
                          <xs:element name="PC030J01" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PPO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PC04">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PC040S01" type="xs:integer" />
                    <xs:element maxOccurs="unbounded" name="PC040H">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC040D01" type="xs:integer" />
                          <xs:element name="PC040S02" type="xs:integer" />
                          <xs:element name="PC040J01" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PQO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PC05">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PC05A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC05AR01" type="xs:date" />
                          <xs:element name="PC05AD01" type="xs:integer" />
                          <xs:element name="PC05AI01" type="xs:string" />
                          <xs:element name="PC05AQ01" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PC05B">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC05BS01" type="xs:integer" />
                          <xs:element name="PC05BS02" type="xs:integer" />
                          <xs:element name="PC05BS03" type="xs:integer" />
                          <xs:element name="PC05BS04" type="xs:integer" />
                          <xs:element name="PC05BS05" type="xs:integer" />
                          <xs:element name="PC05BS06" type="xs:integer" />
                          <xs:element name="PC05BS07" type="xs:integer" />
                          <xs:element name="PC05BS08" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PCA">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PD02">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PD02A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD02AI01" type="xs:integer" />
                          <xs:element name="PD02AD01" type="xs:integer" />
                          <xs:element name="PD02AI02" type="xs:string" />
                          <xs:element name="PD02AI03" type="xs:string" />
                          <xs:element name="PD02AD02" type="xs:integer" />
                          <xs:element name="PD02AJ01" type="xs:integer" />
                          <xs:element name="PD02AD03" type="xs:string" />
                          <xs:element name="PD02AR01" type="xs:date" />
                          <xs:element name="PD02AR02" type="xs:date" />
                          <xs:element name="PD02AD04" type="xs:integer" />
                          <xs:element name="PD02AJ04" type="xs:string" />
                          <xs:element name="PD02AJ03" type="xs:integer" />
                          <xs:element name="PD02AI04" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PDA">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PD01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PD01A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD01AI01" type="xs:integer" />
                          <xs:element name="PD01AD01" type="xs:string" />
                          <xs:element name="PD01AD02" type="xs:integer" />
                          <xs:element name="PD01AI02" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01AI03" />
                          <xs:element minOccurs="0" name="PD01AI04" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01AD03" type="xs:string" />
                          <xs:element name="PD01AR01" type="xs:date" />
                          <xs:element minOccurs="0" name="PD01AD04" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01AJ02" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01AJ03" />
                          <xs:element minOccurs="0" name="PD01AJ01" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01AR02" type="xs:date" />
                          <xs:element minOccurs="0" name="PD01AD05" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01AD06" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01AS01" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01AD07" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01AD08" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01AD09" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01AD10" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PD01B">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD01BD01" type="xs:string" />
                          <xs:element name="PD01BR01" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01BR04" />
                          <xs:element name="PD01BJ01" type="xs:integer" />
                          <xs:element name="PD01BR02" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01BJ02" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01BD03" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01BD04" type="xs:string" />
                          <xs:element name="PD01BR03" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PD01C">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD01CR01" type="xs:gYearMonth" />
                          <xs:element name="PD01CD01" type="xs:integer" />
                          <xs:element name="PD01CJ01" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ02" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ03" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01CD02" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CS01" type="xs:string" />
                          <xs:element name="PD01CR02" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01CJ04" type="xs:integer" />
                          <xs:element name="PD01CJ05" type="xs:integer" />
                          <xs:element name="PD01CR03" type="xs:date" />
                          <xs:element minOccurs="0" name="PD01CJ11" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ13" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ15" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CS02" type="xs:string" />
                          <xs:element minOccurs="0" name="PD01CJ06" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ12" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ14" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ07" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ08" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ09" type="xs:integer" />
                          <xs:element minOccurs="0" name="PD01CJ10" type="xs:integer" />
                          <xs:element name="PD01CR04" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PD01D">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD01DR01" type="xs:gYearMonth" />
                          <xs:element name="PD01DR02" type="xs:gYearMonth" />
                          <xs:element maxOccurs="unbounded" name="PD01DH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PD01DR03" type="xs:gYearMonth" />
                                <xs:element name="PD01DD01" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PD01E">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD01ER01" type="xs:gYearMonth" />
                          <xs:element name="PD01ER02" type="xs:gYearMonth" />
                          <xs:element name="PD01ES01" type="xs:integer" />
                          <xs:element maxOccurs="unbounded" name="PD01EH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PD01ER03" type="xs:gYearMonth" />
                                <xs:element name="PD01ED01" type="xs:string" />
                                <xs:element name="PD01EJ01" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PD01H">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD01HS01" type="xs:integer" />
                          <xs:element name="PD01HH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PD01HJ01" type="xs:integer" />
                                <xs:element name="PD01HR01" type="xs:date" />
                                <xs:element name="PD01HR02" type="xs:date" />
                                <xs:element name="PD01HJ02" type="xs:integer" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PD01F">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD01FS01" type="xs:integer" />
                          <xs:element maxOccurs="unbounded" name="PD01FH">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PD01FD01" type="xs:integer" />
                                <xs:element name="PD01FR01" type="xs:date" />
                                <xs:element name="PD01FS02" type="xs:integer" />
                                <xs:element name="PD01FJ01" type="xs:integer" />
                                <xs:element name="PD01FQ01" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PCR">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PD03">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PD03A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PD03AD08" type="xs:integer" />
                          <xs:element name="PD03AD01" type="xs:integer" />
                          <xs:element name="PD03AQ01" type="xs:string" />
                          <xs:element name="PD03AD02" type="xs:string" />
                          <xs:element name="PD03AR01" type="xs:date" />
                          <xs:element name="PD03AR02" type="xs:string" />
                          <xs:element name="PD03AD03" type="xs:integer" />
                          <xs:element name="PD03AQ02" type="xs:string" />
                          <xs:element name="PD03AJ01" type="xs:string" />
                          <xs:element name="PD03AD04" type="xs:string" />
                          <xs:element name="PD03AJ02" type="xs:integer" />
                          <xs:element name="PD03AD05" type="xs:integer" />
                          <xs:element name="PD03AD06" type="xs:string" />
                          <xs:element name="PD03AD07" type="xs:string" />
                          <xs:element name="PD03AS01" type="xs:string" />
                          <xs:element name="PD03AR03" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PND">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PE01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PE01A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PE01AD01" type="xs:string" />
                          <xs:element name="PE01AQ01" type="xs:string" />
                          <xs:element name="PE01AD02" type="xs:integer" />
                          <xs:element name="PE01AR01" type="xs:date" />
                          <xs:element name="PE01AD03" type="xs:integer" />
                          <xs:element name="PE01AJ01" type="xs:integer" />
                          <xs:element name="PE01AR02" type="xs:gYearMonth" />
                          <xs:element name="PE01AQ02" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="POT">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF01A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF01AQ01" type="xs:string" />
                          <xs:element name="PF01AJ01" type="xs:integer" />
                          <xs:element name="PF01AR01" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PCJ">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF02">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF02A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF02AQ01" type="xs:string" />
                          <xs:element name="PF02AQ02" type="xs:string" />
                          <xs:element name="PF02AR01" type="xs:date" />
                          <xs:element name="PF02AD01" type="xs:integer" />
                          <xs:element name="PF02AQ03" type="xs:string" />
                          <xs:element name="PF02AR02" type="xs:string" />
                          <xs:element name="PF02AQ04" type="xs:integer" />
                          <xs:element name="PF02AJ01" type="xs:integer" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PCE">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF03">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF03A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF03AQ01" type="xs:string" />
                          <xs:element name="PF03AQ02" type="xs:string" />
                          <xs:element name="PF03AR01" type="xs:string" />
                          <xs:element name="PF03AD01" type="xs:string" />
                          <xs:element name="PF03AQ03" type="xs:string" />
                          <xs:element name="PF03AR02" type="xs:string" />
                          <xs:element name="PF03AQ04" type="xs:string" />
                          <xs:element name="PF03AJ01" type="xs:string" />
                          <xs:element name="PF03AQ05" type="xs:string" />
                          <xs:element name="PF03AJ02" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PAP">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF04">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF04A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF04AQ01" type="xs:string" />
                          <xs:element name="PF04AQ02" type="xs:string" />
                          <xs:element name="PF04AJ01" type="xs:string" />
                          <xs:element name="PF04AR01" type="xs:string" />
                          <xs:element name="PF04AR02" type="xs:string" />
                          <xs:element name="PF04AQ03" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PHF">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF05">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF05A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF05AQ01" type="xs:integer" />
                          <xs:element name="PF05AR01" type="xs:date" />
                          <xs:element name="PF05AD01" type="xs:integer" />
                          <xs:element name="PF05AR02" type="xs:string" />
                          <xs:element name="PF05AR03" type="xs:string" />
                          <xs:element name="PF05AQ02" type="xs:integer" />
                          <xs:element name="PF05AQ03" type="xs:integer" />
                          <xs:element name="PF05AJ01" type="xs:integer" />
                          <xs:element name="PF05AQ04" type="xs:string" />
                          <xs:element name="PF05AR04" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PBS">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF06">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF06A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF06AD01" type="xs:integer" />
                          <xs:element name="PF06AQ01" type="xs:integer" />
                          <xs:element name="PF06AQ02" type="xs:string" />
                          <xs:element name="PF06AQ03" type="xs:integer" />
                          <xs:element name="PF06AR01" type="xs:date" />
                          <xs:element name="PF06AR02" type="xs:date" />
                          <xs:element name="PF06AR03" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PPQ">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF07">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF07A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF07AQ01" type="xs:string" />
                          <xs:element name="PF07AQ02" type="xs:string" />
                          <xs:element name="PF07AD01" type="xs:integer" />
                          <xs:element name="PF07AD02" type="xs:integer" />
                          <xs:element name="PF07AR01" type="xs:gYearMonth" />
                          <xs:element name="PF07AR02" type="xs:string" />
                          <xs:element name="PF07AR03" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PAH">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PF08">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PF08A">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PF08AQ01" type="xs:string" />
                          <xs:element name="PF08AQ02" type="xs:string" />
                          <xs:element name="PF08AR01" type="xs:string" />
                          <xs:element name="PF08AR02" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="POS" />
        <xs:element name="POQ">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PH01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PH010R01" type="xs:date" />
                    <xs:element name="PH010D01" type="xs:integer" />
                    <xs:element name="PH010Q02" type="xs:string" />
                    <xs:element name="PH010Q03" type="xs:integer" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>